<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Minorities In Medicine</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="static/images/logo.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/articles">Articles</a>
              <a class="nav-link" href="/contact">Contact</a>
              <a class="nav-link active" aria-current="page" href = "#">Reviews</a>
            </div>
          </div>
        </div>
      </nav>
    <div class="container upper">
      <img src="/static/images/banner.png" class="banner">
    </div>
    <div class="container main">
        <h1 style="text-align: center;">Testimonials</h1>
        <div>
            <h4 style="text-align: center;">Survey Results</h4>
            <p>
                Based on survey results, 9 out of 10 participants would recommend this program recommending this program to a classmate, teacher, or family member. Participants rated the program's overall enjoyability 9/10, on average. <br>
                <br>
            </p>
        </div>
        <h1 style="text-align: center;">Reviews</h1>
        <div>
            <p>
                "This programs helps students learn and become more interested in medicine. It encourages students to continue to pursue the careers they want in medicine by exposing students to different medical topics and information. It also educates students on the different paths they can take to pursue a career in medicine which really helped me personally and introduced me to more options that I could take. Minorities in medicine is a program that can help students interested in medicine to learn more about the medical field and other medical topics. It helps students understand and encourages them to become leaders in the medical field." <br>
                <br>
                - Sabiha Ahmed '21 <br>
                <br>
                <br>
                "This program was very engaging, teaching people about a vast topics of health related topics, such as anything between mental health to literal physical health and the parts of the body. I strongly believe anyone interested in a future career path of medicine and health should definitely try to join the program. I personally had a great time, the presentations were colorful and fun, and it wasn't just all talk, students were able to ask questions, and we even did interactive stuff, such as kahoots, websites with little fun quizzes, etc." <br>
                <br>
                - Philopater Tadros '21 <br>
                <br>
                <br>
                "Overall, I really enjoyed the program and the activities provided by the presenters. I enjoyed how the presenters were constantly interacting with the audience and asking thought provoking questions. The presentations were really engaging, informative, and helpful." <br>      
                <br>
                - Amaan Ansari '21 <br>
                <br>
                <br>
                The program was incredibly informational, and I appreciated the one week where we talked about health disparities. As a minority, it's nice to know that that problem is being acknowledged. I would definitely recommend this program to anyone interested in pursuing the medical field. <br>
                <br>
                - Anonymous <br>
            </p>
        </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>